@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  background-color: rgb(169, 219, 243);
  box-sizing: border-box;
  width: 99%;
  margin: 5px;
}



.nav_items > ul {
  font-size: 24px;
  display: flex;
  list-style-type: none;
}

.nav_items > ul > li {
  padding: 10px;
  margin: 10px;
}

h4 {
  margin: 10px 0;
}






.no-decoration {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}
